{% comment %}
  Bundle products section allowing items to be added via AJAX with the property "added_from" set to "bundle".
{% endcomment %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="bundle-products">
  {%- if section.settings.collection != blank -%}
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      {% render 'bundle-product-card', product: product %}
    {%- endfor -%}
  {%- else -%}
    <p>Select a collection to display bundle products.</p>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Bundle products",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Products to show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Bundle products"
    }
  ]
}
{% endschema %}
